.Bg-img {
    background-image: url('https://www.ultraehp.com/images/UP100/banner05.png');
    background-position: center center;
    background-repeat: no-repeat;
}

// .btn-wrap {
    //     border: 1px solid #000;
    // }
.btn-wrap a {
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    color: white;
    padding: 4px 5px;
    width: 180px;
    margin: 0 10px;

}

.bg-banner {
    background-image: url('https://cdn.shopify.com/s/files/1/0569/5147/2268/files/4_b9d5b0e5-7186-4f84-af6d-577559af67ab_2878x.png?v=1658997388');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;



}